<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%level] %logger{100} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>forearm.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>forearm.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

			<!-- keep 14 days' worth of history -->
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%level] %logger{100} - %msg %n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	
	<logger name="org.quartz" level="ERROR" />
</configuration>